<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
    <meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

    {%- include head.html -%}

    <body>
        <div class="container">

            {%- include header.html -%}

            <main>
                {{ content }}
            </main>

            {%- include footer.html -%}

        </div>
    </body>
</html>
